:root {
    --white: #ffffff;
}

$primary_color: #ce2222;
$border-radius: 6px;
$linear-gradient: linear-gradient(102deg, #c568ff 0%, #6e91f6);


* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-family: 'Roboto', sans-serif;
    outline: none;
}